body {
    background-color: rgb(43, 0, 0);
}

.row2 {
    display: flex;
    height: 4em;
    justify-content: center;

    top: 9em;
    z-index: 1;

    position: relative;
}

.row2 > div {
    height: 100%;
    width: 1.5em;

    opacity: 0.5;
    text-align: center;

    color: antiquewhite;
    font-size: 7em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: -1;
}

.row {
    display: flex;
    height: 4em;
    justify-content: center;

    top: -3em;
    position: relative;
}

.row > button {

    height: 3em;
    width: 5em;
    margin: 0.5em;
    inset: 0;

    border-radius: 0.3em;
    background-image: linear-gradient(rgb(224, 224, 224), rgba(0,0,0,0));

    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.background {
    height: 8em;
    
    display: flex;
    flex-direction: row;
    align-items: stretch;

    z-index: -2;
    position: relative;
    top: -11em;
}

.background * {
    background-color: rgb(59, 25, 25);

    flex-grow: 1;
    margin: 0.1em;
}

#hangman {
    background-image: url(assets/images/0.PNG);
    background-size: contain;

    width: 15em;
    height: 15em;
    left: 1.3em;
    top: -4em;

    position: relative;
    margin: auto;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}